{{ define "main" }}

<article class="w-100 ph0-l ph4 pr4">
  
  <div class="flex">
    

    <div id="menu" class="order-0 w-auto max-vh-100 overflow-auto dn db-l sticky-l ph3" style="width:225px;">
      {{ partial "nav-links-docs.html" . }}
    </div>

    <div id="content" class="order-1 overflow-auto max-vh-100 pt3 ph4-l mid-gray nested-copy-line-height no-underline nested-links nested-copy-seperator nested-blockquote mt0-ns w-100" style="flex:1;">
      <div class="documentation-copy ml3">

        <div class="ais-InstantSearch">
          <h1>InstantSearch.js e-commerce demo</h1>

          <div class="right-panel">
            <div id="searchbox"></div>
            <div id="hits"><div>
          <div class="hit-name">
            {{ safeHTML "{{#helpers.highlight}}{ "attribute": "name" }{{/helpers.highlight}}" }}
          </div>
          <div class="hit-description">
            {{ safeHTML "{{#helpers.highlight}}{ "attribute": "description" }{{/helpers.highlight}}" }}
          </div>
        </div></div>
            <div id="pagination"></div>
          </div>
        </div>

      </div>
    </div>

  </div>
</article> 
{{ end }}

{{ define "scripts" }}

{{ end }}