:root {
    --default-gray: #CCC;
    --default-font-color: #15263B;
    --header-font-color: var(—default-font-color);

    --breadcrumb-font-color: #555;
    --breadcrumb-margin: 24px;
    --hover-link-color: #218BD1;

    --footer-height: 64px;
    --footer-background: white;
    --footer-padding-top: 48px;
    --footer-font-color: var(--average-color);
    --footer-go-to-top-color: white;

    --dokka-logo-image-url: url('../images/logo-icon.svg');
    --dokka-logo-height: 5px;
    --dokka-logo-width: 5px;

    --active-section-color: #7F52FF;
    --active-tab-border-color: #7F52FF;
    --sidemenu-section-active-color: #F6F9F9;

    --color-text-dt: #47A4E6;
    --color-key-blue: #F6F9F9;

    --toc-hover-color: #218BD1;
}

h1.cover {
    margin: 0.67em 0;
}
h2, h3 {
    margin: 1.414em 0 0.5em;
    line-height: 1.2;
}
h1 {
    font-size: 2.0em; 
}
h2 {
    font-size: 1.65em; 
}
h3 {
    font-size: 1.25em;
}
h4 {
    font-size: 1.15em;
}
h5 {
    font-size: 1.1em;
}
h6 {
    font-size: 1.1em;
}

#prose h2, #prose h3 {
    margin-top: inherit;
    padding-top: inherit;
}

.toc--link:hover,
.toc--button:hover {
    background-color: #FFF;
    color: var(--toc-hover-color);
}

.navigation {
    padding: 0;
}

.root .content-with-sidebar {
    margin-top: 0 !important;
}

.sidebar--inner {
    padding-top: 0;
}

code {
    background-color: inherit !important;
}

p code:not(.block) {
    display: inline-block;
    vertical-align: middle;
    font-size: 82%;
}

.main-content p.paragraph {
    margin-top: 0;
}

.cover ul {
    margin-bottom: 2em;
}

.popup-wrapper,
.popup-wrapper input,
.popup-wrapper span[data-test-custom=ring-select-popup-filter-icon],
.template-title,
.template-description
 {
    color: var(--default-font-color);
    background-color: #FFF !important;
}

.navigation-controls--btn {
    background-color: #262628;
}

.navigation-controls--btn:hover {
    background-color: rgba(0, 0, 0, 0.48);
}
.toc--part[data-active]>.toc--row .toc--button:after,
.toc--part[data-active]>.toc--row .toc--link:after {
    filter: invert(1);
}

.sticky-l {
    flex-shrink: 0;
}